# Node
node_modules/
dist/
.env*
.DS_Store
npm-debug.log
# Docker
*.local
*.pid
*.seed
# VSCode
.vscode/
# Certificados locales
certs/
ssl/ca/
ssl/certs/
ssl/private/
ssl/cert.conf
# OS
Thumbs.db
# Documentation
docs/
.claude/
docs