:host {
  display: block;
  width: 100%;
}

.general-settings {
  button[role="tab"] {
    @apply border-transparent hover:border-blue-500 hover:text-blue-600;
  }

  button[role="tab"].active {
    @apply border-blue-600 text-blue-600;
  }

  button[role="tab"].inactive {
    @apply border-transparent text-gray-500 hover:text-gray-700;
  }
}
