<section class="service-location">
  @if (!offerHomeService() && storeAddress()) {
    <h3 class="service-location__title">En el local del técnico</h3>
    <div class="store-address">
      <app-icon name="map-pin" [size]="20"></app-icon>
      <div>
        <div class="store-address__line1">{{ formatAddressLine(storeAddress()!) }}</div>
        <div class="store-address__line2">{{ formatAddressCity(storeAddress()!) }} {{ storeAddress()!.country_code }}</div>
      </div>
    </div>
  }
</section>
